.vscode/*
.code-workspace
.DS_Store
*.txt
*.sh
*.dmp
*.log
*.bin
*.lock
Obsoletos
auxiliar/*
cut-over/*
Fontes-ACD/img/chat*
Fontes-ACD/PE_Nao_Compilar/*
Fontes-ACD/dic_TRK0005/*
Fontes-ACD/dic_trk0008/*
*.bak
*.json
*.log
.gitignore
.advpl
.cache
.vscode